# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variables file
.env

# Ignore VSCode settings (optional)
.vscode/

# Ignore virtual environments
venv/
env/

# Ignore database files
node_modules/
.DS_Store
.eslintcache